<div class="jumbotron">
  <input ng-model="query" type="search" class="form-control input-lg" placeholder="Look up entity (ex. '&amp;amp;', '&amp;#38;', or 'ampersand')">
</div>

<div>
  <table class="table">
    <tr>
      <th>Entity</th>
      <th>Displayed</th>
      <th>Number</th>
      <th>Displayed</th>
      <th>Description</th>
    </tr>
    <tr ng-repeat="entity in entities | filter:query">
      <td>{{entity.name}}</td>
      <td ng-bind-html="entity.name"></td>
      <td>{{entity.number}}</td>
      <td ng-bind-html="entity.number"></td>
      <td>{{entity.description}}</td>
    </tr>
  </table>
</div>
